* {
  box-sizing: border-box;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

#editor {
  width: 1000px;
  margin-bottom: 16px;
}

.panel {
  margin-bottom: 16px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result table {
  margin-bottom: 16px;
}